.data-grid.table {
	font-size: 10px;
}

.panel .table-striped > thead th {
    color: #fff;
    background-color: #6B767F !important;
    border-color: #A1B2BF !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.table-striped > tbody > tr > td {
    background: #E8EEF3;
    border-right: transparent;
    color: #6B767F;
}

th[class*=sortable]:after {
	font-family:FontAwesome;
	content:"\00A0\f0dc";
	font-weight:normal !important;
	float: right;
}

th.sortable.asc:after {
	content:"\00A0\f0de";
}

th.sortable.desc:after {
	content:"\00A0\f0dd";
}

.panel .table-striped > thead th.sortable.asc, .panel .table-striped > thead th.sortable.desc {
    background-color: #A1B2BF !important;
}

.table-striped > tbody > tr:nth-child(odd) > td, .panel .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #ffffff;
}
